<div class="container">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h1 style="font-weight:bolder;" class="mt-3">View Employee Details</h1>
      </div>
      <div class="col-md-6">

      </div>
      <div class="col-md-2">
        <button class="btn btn-sm mt-3" mat-raised-button color="accent" routerLink="/emplist">Return</button>
      </div>
    </div>
  </div>
  <div class="row">


    <div class="col-md-12">
      <mat-card>

        <div class="row">
          <div class="col-md-4">
            <h3>Firstname : {{tempObj.fname}}</h3>
          </div>
          <div class="col-md-4">
            <h3>Middlename : {{tempObj.mname}}</h3>
          </div>

          <div class="col-md-4">
            <h3>Lastname : {{tempObj.lname}}</h3>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <h3>Contact : {{tempObj.contact}}</h3>
          </div>
          <div class="col-md-4">
            <h3>Email : {{tempObj.email}}</h3>
          </div>

          <div class="col-md-4">
            <h3>Gender : {{tempObj.gender}}</h3>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <h3>Date of birth : {{tempObj.dob}}</h3>
          </div>
          <div class="col-md-4">
            <h3>Employee Type : {{tempObj.userType}}</h3>
          </div>

          <div class="col-md-4">
            <h3>Address1 : {{tempObj.address1}}</h3>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <h3>Address2 : {{tempObj.address2}}</h3>
          </div>
          <div class="col-md-4">
            <h3>PIN code : {{tempObj.pin}}</h3>
          </div>

          <div class="col-md-4">
          </div>
        </div>




       
      
        
       
        
       
       
        
      </mat-card>
    </div>
  </div>
</div>


<br>
<br>