<div class="container">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h1 style="font-weight:bolder;" class="mt-3">View Employee Details</h1>
      </div>
      <div class="col-md-6">

      </div>
      <div class="col-md-2">
        <button class="btn btn-sm mt-3" mat-raised-button color="accent" routerLink="/emplist">Return</button>
      </div>
    </div>
  </div>
  <div class="row">


    <div class="col-md-12">
      <mat-card>

        <div class="row">
          <div class="col-md-4">

            <div class="row">
              <div class="col-md-4">
                <h3>Firstname : </h3>
              </div>
              <div class="col-md-8">
                <h3>{{tempObj.fname}}</h3>
              </div>
            </div>
           
          </div>
          <div class="col-md-4">

            <div class="row">
              <div class="col-md-4">
                <h3>Middlename : </h3>
              </div>
              <div class="col-md-8">
                <h3>{{tempObj.mname}}</h3>
              </div>
            </div>
           
          </div>

          <div class="col-md-4">

            <div class="row">
              <div class="col-md-4">
                <h3>Lastname : </h3>
              </div>
              <div class="col-md-8">
                <h3>{{tempObj.lname}}</h3>
              </div>
            </div>

            
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">

            <div class="row">
              <div class="col-md-4">
                <h3>Contact : </h3>
              </div>
              <div class="col-md-8">
                <h3>{{tempObj.contact}}</h3>
              </div>
            </div>
          </div>


          <div class="col-md-4">
           
            <div class="row">
              <div class="col-md-4">
                <h3>Email : </h3>
              </div>
              <div class="col-md-8">
                <h3>{{tempObj.email}}</h3>
              </div>
            </div>


          </div>

          <div class="col-md-4">

            <div class="row">
              <div class="col-md-4">
                <h3>Gender : </h3>
              </div>
              <div class="col-md-8">
                <h3>{{tempObj.gender}}</h3>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">

            <div class="row">
              <div class="col-md-4">
                <h3>Date of birth : </h3>
              </div>
              <div class="col-md-8">
                <h3>{{tempObj.dob}}</h3>
              </div>
            </div>

          </div>
          <div class="col-md-4">

            <div class="row">
              <div class="col-md-4">
                <h3>Emp Type : </h3>
              </div>
              <div class="col-md-8">
                <h3>{{tempObj.userType}}</h3>
              </div>
            </div>

          </div>

          <div class="col-md-4">

            <div class="row">
              <div class="col-md-4">
                <h3> Address1 : </h3>
              </div>
              <div class="col-md-8">
                <h3>{{tempObj.address1}}</h3>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">

            <div class="row">
              <div class="col-md-4">
                <h3> Address2 : </h3>
              </div>
              <div class="col-md-8">
                <h3>{{tempObj.address2}}</h3>
              </div>
            </div>
          </div>
          <div class="col-md-4">

            <div class="row">
              <div class="col-md-4">
                <h3> PIN : </h3>
              </div>
              <div class="col-md-8">
                <h3>{{tempObj.pin}}</h3>
              </div>
            </div>
          </div>

          <div class="col-md-4">
          </div>
        </div>












      </mat-card>
    </div>
  </div>
</div>


<br>
<br>